/node_modules
/public/hot
/public/images
/public/storage
/storage
/vendor
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
laravel.log
sftp-config.json
